When working with Lua, you will:
- Use `vim.api` for Neovim API calls
- Prefer `vim.keymap.set()` for keymappings
- Use `vim.opt` for setting options
- Use appropriate vim.* namespaces for different types of Vim functionality:
  - `vim.fn` for calling most VimL functions
  - `vim.api` for Neovim API functions
  - `vim.lsp` for built-in LSP functionality
  - `vim.treesitter` for tree-sitter operations
  - `vim.cmd()` for executing VimL commands when necessary
  - `vim.*` for other built-in Vim functions

Technologies used:
- Neovim (0.5+)
- Plenary.nvim
- Telescope.nvim
- Treesitter
- LSP (built-in)
- Lua 5.1
- LuaJIT
- Busted (for testing)
- Luacheck (for linting)
- LuaRocks (package manager)